<h1 style="text-align: center;">Reactive Forms</h1>

<div [formGroup]="testform" style="display: flex; flex-direction: column; max-width: 300px; margin: auto;">
  <label>Email</label>
  <input formControlName="email" placeholder="Email" type="email"/>

  <label style="margin-top: 1rem;">Password</label>
  <input formControlName="password" placeholder="Password" type="password"/>

  <ng-container formArrayName="addresses">
    <ng-container *ngFor="let addressForm of addresses.controls">
      <div style="display: flex; flex-direction: column; margin-top: 1rem;" [formGroup]="addressForm">
        <label>Adress</label>
        <input placeholder="Adress" formControlName="adress"/>
      </div>
    </ng-container>
  </ng-container>

  <button (click)="addAddress()" style="margin-top: 1rem;">Add Address</button>
</div>